<section><h1 id="first-steps-with-purescript-and-ractive">First steps with PureScript and Ractive</h1>
<hr>
<p>In this tutorial we are going to see the most basic and straightforward use of <code>purescript-ractive</code>, we are going to use it
just to put some content in our page.</p>
<p>The content we want to show is this astounding greet:</p>
<pre><code class="lang-html">&lt;h2 class=&quot;hello&quot;&gt;Hej, hej Värld!&lt;/h2&gt;</code></pre>
<p>It&#39;s just a H2 header with some greeting message (in Swedish ;)</p>
<p>The <strong>purescript</strong> snippet to do this is the following:</p>
<pre><code class="lang-haskell">import Control.Eff.Ractive

main :: Eff (ractiveM :: RactiveM) Unit
main = ractive &quot;template&quot; &quot;#document&quot; {}</code></pre>
<button class="btn btn-primary" on-click="run1">run</button>

<h3 id="the-code-in-more-detail-">The code in more detail!</h3>
<hr>
<p>There is not very much to explain here but anyway let&#39;s take a look to the small code involved.</p>
<p>Firstly we load the module with <code>import Control.Eff.Ractive</code>, this will allow us to have all the functions defined in <strong>Ractive</strong> module in scope,
ready to be used.</p>
<p>Secondly we define the <strong>main</strong> function, this function creates a new <strong>Ractive</strong> object which is ready to be used.
To create it we pass three arguments to the <em>ractive</em> function, the ractive function is defined in <code>Control.Eff.Ractive</code> and has this
signature:</p>
<pre><code class="lang-haskell">ractive :: forall a eff. String -&gt; String -&gt; a -&gt; Eff (ractiveM :: RactiveM | eff)</code></pre>
<p>To create it we pass three arguments to the <em>ractive</em> function, the <em>first one is the template we want to use</em> (our nice greeting here),
the <em>second one is the element</em> where we want to show the message (all the element&#39;s children will be replaced!) and <em>finally an object
with the data</em> we want to bind (more on this later.)</p>
<blockquote>
<p>Please note that creating an object is a side-effect, so not allowed in a pure functional language like <strong>PureScript</strong>,
that&#39;s the reason why <em>ractive</em> function returns an <em>Eff monad</em>.
See this <a href="http://www.purescript.org/posts/Eff-Monad/" title="Handling Native Effects with the Eff Monad">post</a> for a more detailed explanation about
the <em>Eff</em> monad in <em>PureScript</em>.</p>
</blockquote>
<h3 id="summary">Summary</h3>
<hr>
<p>Let&#39;s see the only function we have used here: <em>ractive</em> and its signature (we are now functional programmers so we really care about types!)</p>
<pre><code class="lang-haskell">ractive :: forall a eff. String -&gt; String -&gt; a -&gt; Eff (ractiveM :: RactiveM | eff) Ractive</code></pre>
</section>