<section><h1 id="welcome-to-tutorial-1-">Welcome to tutorial 1!</h1>
<hr>
<hr>
<p>In this tutorial we are going to see the most basic and straightforward use of <code>purescript-ractive</code>, we are use it
just to put some content in our page.</p>
<p>The content we want to show is this astounding greet:</p>
<pre><code class="lang-html">&lt;h2 class=&quot;hello&quot;&gt;Hej, hej Värld!&lt;/h2&gt;</code></pre>
<p>It&#39;s just a H2 header with some greeting message (in Swedish ;)</p>
<p>The <strong>purescript</strong> snippet to do this is the following:</p>
<pre><code class="lang-haskell">import Control.Eff.Ractive

main :: Eff (ractiveM :: RactiveM) Unit
main = ractive &quot;template&quot; &quot;#document&quot; {}</code></pre>
<button class="btn btn-primary" on-click="run1">run</button>

<hr>
<h3 id="the-code-in-more-detail-">The code in more detail!</h3>
<hr>
<p>A short explanation about the code above;</p>
<ul>
<li>First we load the module with <code>import Control.Eff.Ractive</code></li>
<li>Then, we define function which the only interesting thing that it does is to create a new ractive object.
To create it we pass three arguments to the <em>ractive</em> function, the first one is the template we want to use (our nice greeting here),
the second one is the element where we want to show the message (all the element&#39;s children will be replaced!) and finally an object
with the data we want to bind (more on this later.)</li>
<li>Please note that creating an object is a side-effect, so not allowed in a pure functional language like <strong>purescript</strong>,
that&#39;s the reason why <em>ractive</em> function returns an <em>forall eff. Eff(ractiveM :: RactiveM) Ractive</em>.
See this <a href="http://www.purescript.org/posts/Eff-Monad/" title="Handling Native Effects with the Eff Monad">post</a> for a more detailed explanation.</li>
</ul>
<hr>
<h3 id="functions-involved-here-and-types-">Functions involved here (and types)</h3>
<hr>
<p>Let&#39;s see the only function we have used here: <em>ractive</em> and the type of it (we are now functional programmers so we really care about types!)</p>
<ul>
<li><strong><em>ractive</em></strong> :: forall a eff. String -&gt; String -&gt; a -&gt; Eff (ractiveM :: RactiveM | e)</li>
</ul>
</section>